
.earningsec{
    margin-top: 25px;
    text-align: left;
    overflow-y:scroll;
    overflow-x: 2px;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
button:hover{
    box-shadow: 0px 0px 5px 0.5px;
    transition: ease-in-out 200ms;
    color: rgb(246, 246, 246);
}
.boxs{
    text-align: left;
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: rgb(20, 2, 46);
    border-radius: 5%;
    border: solid #4cb3fd 2px;
    text-align: center;
    color: #fff;
}
.boxs:hover{
    background-color: rgb(101, 21, 158);
    transition: 0.3s;
    box-shadow: 0px 0px 10px 1px;
}
.earningsec h1{
    color: #fff;
    padding-bottom: 20px;
}
.earningsec h3, h2{
    text-align: left;
    padding-left: 10px;
}
.repo{
    margin-top: 5vh;
}
#searchbar{
    margin-top:5vh;
    margin-bottom:20px;
    color: #fff;
}
#searchbar input{
    margin-left: 10px;
    max-height: 30px;
}














.Registarion{
    transform: translate() scale(1.25);
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 100vh;
    background-color: #ececec;
    color: #fff;
    border-radius: 20px;
    transition: ease-in-out 200ms;
}
.list{
    width: 200px;
    height: 30px;
    margin: 10px;
    background-color: #a2d3fe;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 18px;
    border: solid 1px #000;
    border-radius: 4px;
}
.list:hover{
    box-shadow: 0 0 10px 1px;
    transition: 0.3ms;
    text-decoration: none;
}

.Registarion h4, input{
    padding: 5px 10px;
    font-size: 20px;
}

.Registarion a{
    text-decoration: none;
    color: #000;
    padding: 10px;
}
#btn2{
    margin-top: 20px;
    width: 80px;
    height: 35px;
}
#btn3{
    margin-top: 20px;
    width: 80px;
    height: 35px;
}

/*Invoice CSS*/
.invoice{
    margin-left: 30vh;
    max-width: 50%;
    min-height: 80vh;
    background-color: #1b2536;
    border-radius: 20px;
    color:#fff;
    border: solid 1px #fff;
    box-shadow: 0px 0px 20px 1px;
}

.invoice input{
    margin-top: 10px;
    margin-right: 40vh;
    width: 250px;
    height: 30px;
    font-size: 18px;
}
.invoice h2{
    margin-left:  5vh;
    padding: 6px;
    font-size: 20px !important;
    border: solid 1px #5b8daf77;
}
